body {
	padding-top: 60px; /* 60px to make th-e container go all the way to the bottom of the topbar */
}
canvas {
	border: 1px solid #ddd;
}
.table thead tr.visual > th {
	background-color: #dff0d8;
}
.icon-remove{
	color: #c83025;
}
.icon-remove:hover{
	color: #422;
}
.icon-trash{
	color: #b81518;
}
.icon-trash:hover{
	color: #422;
}
.fillModal{
	/* Used to stretch an element to the size of a modal overlay */
	width: 520px;
}
#visual{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}